@import url("null.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Taviraj&display=swap");

body {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: #424551;
    line-height: 1.6;
}

.wrapper {
    max-width: 810px;
    margin: 50px auto;
}
.sub-title {
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1e212c;
    margin-bottom: 8px;
}
.title {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: #1e212c;
    margin-bottom: 40px;
}
.list {
    margin-bottom: 22px;
}
.list-item {
    line-height: 1.6;
    color: #424551;
    padding: 0 0 0 20px;
}
.list-item::before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("../img/icon/icon2.png") 0 0.5px/16px no-repeat;
    margin: 0 16px 0 -20px;
}

.list-item:not(:last-child) {
    margin: 0px 0px 12px 0px;
}
.btn {
    display: inline-block;
    padding: 0 30px;
    font-weight: bold;
    font-size: 14px;
    line-height: 3.1;
    text-align: center;
    letter-spacing: 0.5px;
    color: #ffffff;
    background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
    border-radius: 4px;
}

.btn:hover {
    background: linear-gradient(55.95deg, #ff524d 0%, #fc8a48 100%);
    box-shadow: inset 0 0px 5px 2px #000;
    margin: 1px 0px 0px 0px;
}

.wrapper-two {
    margin: 0 0 50px 50px;
}
.wrapper-two-item {
    font-family: Taviraj;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 2px;
    color: #333333;
}

.wrapper-two-item::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 80px;
    background: #ff3f3a;
    margin: 0px 5px -30px 0;
}

.wrapper-two-item::after {
    content: "";
    display: block;
    width: 65px;
    height: 1px;
    background: #333333;
    margin: 8px 0 0 3px;
}

.wrapper-three {
    margin: 0 0 0 100px;
}
.not-btn {
    display: inline-block;
    padding: 0 30px;
    font-weight: bold;
    font-size: 14px;
    line-height: 3.1;
    text-align: center;
    letter-spacing: 0.5px;
    color: #ffffff;
    background: rgb(87, 250, 55);
    border-radius: 4px;
    box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.2);
    margin: 0 0 15px 0;
}
.not-btn:hover {
    box-shadow: inset 0px 0px 8px 3px rgba(34, 60, 80, 0.2);
}
.wrapper-lol-img {
    display: block;
    margin: 0 0 15px 0;
}
.wrapper-lol {
    display: none;
}

.wrapper-lol:target {
    display: block;
}
.yes-btn {
    display: inline-block;
    padding: 0 30px;
    font-weight: bold;
    font-size: 14px;
    line-height: 3.1;
    text-align: center;
    letter-spacing: 0.5px;
    color: #ffffff;
    background: rgb(87, 250, 55);
    border-radius: 4px;
    box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.2);
    margin: 0 0 15px 0;
}

.yes-btn:hover {
    box-shadow: inset 0px 0px 8px 3px rgba(34, 60, 80, 0.2);
}
.wrapper-three-block {
    margin: 0 0 500px 0;
}

.wrapper-three-block2 {
    margin: 0 0 200px 0;
}

.wrapper-three-object {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    background: #fc8a48;
    font-size: 20px;
    line-height: 2;
    color: #ffffff;
    text-transform: uppercase;
}

.wrapper-three-block2:hover .wrapper-three-object {
    visibility: hidden;
}

.wrapper-three-block3 {
    margin: 0 auto;
    max-width: 890px;
}
.wrapper-three-list {
    line-height: 1.6;
    color: #424551;
    padding: 0 0 50px 20px;
    cursor: pointer;
}
.wrapper-three-list-item::before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 16px 0 -20px;
    background: url(../img/icon/icon1.png) 0 2px /16px no-repeat;
}

.wrapper-three-list li:nth-child(odd):hover {
    color: #ff524d;
    text-transform: uppercase;
    font-size: 40px;
}
